html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #282831;
  padding: 30px;
}
canvas {
  width: 800px;
  height: 130px;
  margin: 2rem auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.canvasContainer {
  position: relative;
}
.firstLayer{
  position: absolute; 
  left: 0;
  top: 0; 
  z-index: 0;
}
.secondLayer{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
#DemoCanvas{
  position: absolute;
}
